* {
    margin: 0;
    padding: 0;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

header {
    background-image: url("../imgs/lav1.jpg");
    border-bottom: 3px solid rgb(210, 43, 160);
    height: 13vh;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* height: 1000px; */
    /* width: 11400px; */
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo1 {
    height: 104px;
    width: 111px;
}

.header li {
    list-style-type: none;
    padding: 17px;
    margin: 5px;
}

.header li a {
    text-decoration: none;
    font-size: 23px;
    color: black;
    font-weight: 900;
    padding: 9px;
}

.header li a:hover {
    /* text-decoration: underline; */
    padding: 12px;
    font-size: 30px;
    color: black;
    /* border-bottom: 3px solid rgb(210, 43, 160) ; */
    transition: all 0.7s ease;
    /* border: 2px solid red; */
}

.header .about {
    text-decoration: underline;
    text-decoration-thickness: 3px;

}

.header li a {
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
}

.list {
    align-items: center;
    display: flex;
}

.line {
    border-bottom: 3px solid rgb(210, 43, 160);
    width: 90px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline-block;
    /* display: flex; */
}
.container1{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.cont1{
    font-size: 20px;
    margin-bottom: 23px;
}
/* header ends */
body{
    background:rgb(222, 215, 215);
}
#grid-all {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: azure; */
    /* padding-left: 80px;
    padding-right: 40px;
    padding-bottom: 30px; */
    margin: 0px 80px 67px 80px;
    box-shadow:2px 3px 17px 10px rgba(158, 48, 174, 0.43);
}
  .item{
    position: relative;
    background: rgb(153, 129, 182);
    overflow: hidden;
  }
  .item::after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }
  .item:hover::after {
    transform: scale(2) translateX(0%) translateY(0%) rotate(-28deg);
    /* background: #ffbc00; */
  }
  .item:hover .item-image {
    transform: scale(1.2);
  }
  .item:hover .item-text {
    opacity: 1;
    transform: translateY(0);
  }
  .item-image {
    height: auto;
    transform: translateZ(0);
    display: block;
    height: 301px;
    width: 100%;
    left: 0;
    top: 0;
    /* height: 300px;
    width: 400px; */
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  }
 
  .item-image::before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden;
  }
  .item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0;
  }
  .item-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateX(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1) transform
      cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms;
  }
  .item-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  .item-text-title {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 5px 0 0 0;
  }
  .item-text-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.7;
    margin: 0;
  }
/* footer starts */
footer {
    display: flex;
    position: relative;
    width: 100%;
    height: 55vh;
    background-color: #000000;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    justify-content: space-between
}

footer .container .sec {
    color: white;
    margin-right: 30px;
    margin-left: 70px;
    text-align: left;
    font-size: 15px;
    width: 40%;
}

footer .container .sec .aboutus {
    /* position: relative; */
    color: #fff;
    font-weight: 200;
    margin-bottom: 15px;
}

footer p {
    color: white;
    text-align: left;
    padding-top: 10px;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: flex;
    width: 40px;
    height: 40px;
    color: white;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    background-color: grey;
}

.sci li a:hover {
    border-radius: 20px;
    background-color: rgb(193, 127, 255);
    color: black;
    /* padding: 4px; */
    transition: all 1s ease;
}

.quicklinks {
    position: relative;
    width: 20%;
}

.quicklinks ul li {
    list-style: none;
}

.quicklinks ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
    display: flex;
    margin: 20px;
}

.quicklinks ul li a:hover {
    margin-left: 30px;
    color: rgb(193, 127, 255);
    transition: all 0.5s ease;
}

.contact {
    margin-right: 50px;
    margin-left: 20px;

}

.contact .info li {
    display: flex;
    margin: 20px;
    padding: 7px;

}

.contact .info li:hover {
    margin-left: 30px;
    color: rgb(193, 127, 255);
    transition: all 0.5s ease;
}

.copyright {

    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 8px 100px;
}

/* footer ends */