* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2,
h3,
h4 {
    text-transform: uppercase;
}
header {
    background-image: url("../imgs/lav1.jpg");
    height: 13vh;
    border-bottom: 3px solid rgb(210, 43, 160);
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    background-size: cover;
    /* height: 1000px; */
    /* width: 11400px; */
}

.back h1{
    background-image: url("../imgs/project1.jpg");
        background-size: cover;
        background-size: 100% 100%;
     /* opacity: 0.7; */
     font-size: 60px;
     padding-top: 153px;
    /* border-top: 3px solid rgb(210, 43, 160); */
    height: 60vh;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo1 {
    height: 104px;
    width: 111px;
}

.header li {
    list-style-type: none;
    padding: 17px;
    margin: 5px;
}

.header li a {
    text-decoration: none;
    font-size: 23px;
    color: black;
    font-weight: 900;
    padding: 9px;
}

.header li a:hover {
    /* text-decoration: underline; */
    padding: 12px;
    font-size: 30px;
    color: black;
    /* border-bottom: 3px solid rgb(210, 43, 160) ; */
    transition: all 0.7s ease;
    /* border: 2px solid red; */
}

.header .about {
    text-decoration: underline;
    text-decoration-thickness: 3px;

}

.header li a {
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
}

.list {
    align-items: center;
    display: flex;
}

.line {
    border-bottom: 3px solid rgb(210, 43, 160);
    width: 90px;
    margin-top: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  
  .projects {
    text-align: center;
  }
  .project-link img {
    margin: 5px;
    height: 280px;
    width: 480px;
    border: 3px solid #000;
    border-radius: 5px;
  }
  
/* footer */
/* footer starts */
footer {
    display: flex;
    position: relative;
    width: 100%;
    height: 55vh;
    background-color: #000000;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .containerf {
    display: flex;
    justify-content: space-between
}
.sec .h3{
    margin-left: -300px;
}
footer .containerf .sec {
    color: white;
    margin-right: 30px;
    margin-left: 70px;
    text-align: left;
    font-size: 15px;
    width: 40%;
}

footer .containerf .sec .aboutus {
    /* position: relative; */
    color: #fff;
    font-weight: 200;
    margin-bottom: 15px;
}

footer p {
    color: white;
    text-align: left;
    padding-top: 10px;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: flex;
    width: 40px;
    height: 40px;
    color: white;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    background-color: grey;
}

.sci li a:hover {
    border-radius: 20px;
    background-color: rgb(193, 127, 255);
    color: black;
    padding: 4px;
    transition: all 1s ease;
}

.quicklinks {
    position: relative;
     width: 20%; 
    }
    
    .quicklinks ul li {
        list-style: none;
    }
    
    .quicklinks ul li a {
        text-decoration: none;
        list-style: none;
        color: white;
        display: flex;
        margin: 20px;
    }
    .quicklinks ul li a:hover {
    margin-left: 30px; 
    color: rgb(193, 127, 255);
    transition:all 0.5s ease;
}
.contact{
    margin-right: 50px;
    margin-left: 20px;

}
.contact .info li{
    display: flex;
    margin: 20px;
    padding: 7px;

}
.contact .info li:hover {
    margin-left: 30px; 
    color: rgb(193, 127, 255);
    transition:all 0.5s ease;
}
.copyright{
  
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 8px 100px;
}
/* footer ends */
